# ANALYSE DATA

In [1]:
import pandas as pd
df=pd.read_csv("data.csv")

In [2]:
df.tail(2)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [3]:
df.shape

(1000, 10)

In [5]:
df.columns.tolist()

['id',
 'date',
 'first_name',
 'last_name',
 'email',
 'gender',
 'ip_address',
 'country',
 'price_paid',
 'tax']

In [6]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [9]:
df.set_index("email").head(3)

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0

In [10]:
df.head(3)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0

In [11]:
df.set_index("email", inplace=True)

In [17]:
df.index

Index(['malders0@shop-pro.jp', 'hharridge1@gnu.org', 'ekilminster2@etsy.com',
       'gbrantl3@umn.edu', 'kbeasant4@jigsy.com', 'tbraybrooke5@umn.edu',
       'akencott6@phoca.cz', 'cfeasley7@ed.gov', 'wheersema8@tumblr.com',
       'ggookes9@amazon.co.uk',
       ...
       'sthorburnri@prnewswire.com', 'ecrushrj@berkeley.edu',
       'mguilloneaurk@about.me', 'osnellerl@nhs.uk',
       'cbruntjenrm@reference.com', 'derrigorn@elpais.com',
       'arastallro@toplist.cz', 'bstickelsrp@cloudflare.com',
       'ptesoerq@rakuten.co.jp', 'rpringuerrr@house.gov'],
      dtype='object', name='email', length=1000)