In [1]:
import pandas as pd
df=pd.read_csv("data.csv")

In [5]:
df.email.head(3)

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
Name: email, dtype: object

In [6]:
type(df)

pandas.core.frame.DataFrame

In [8]:
type(df["email"])

pandas.core.series.Series

In [10]:
df.first_name

0       Marylin
1         Hinda
2           Erl
3         Grata
4         Kanya
         ...
995        Duff
996         Ame
997       Betty
998     Paquito
999    Rochelle
Name: first_name, Length: 1000, dtype: object

In [11]:
df[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [12]:
df.loc[10:13]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [13]:
df_email=df.set_index("email")
df_email.loc['lwoodcrafta@sitemeter.com']

id                       11
date             03/11/2021
first_name             Lief
last_name         Woodcraft
gender                 Male
ip_address    201.76.240.51
country              Canada
price_paid            $5.71
tax                     NaN
Name: lwoodcrafta@sitemeter.com, dtype: object

In [14]:
df[1:3]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0

In [15]:
df.loc[1:3]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0

In [16]:
df_email.loc['hharridge1@gnu.org']

id                         2
date              03/19/2021
first_name             Hinda
last_name           Harridge
gender                Female
ip_address    210.51.172.132
country               Canada
price_paid             $8.32
tax                      NaN
Name: hharridge1@gnu.org, dtype: object

In [19]:
tail=df_email.loc[['hharridge1@gnu.org','ekilminster2@etsy.com']]

In [21]:
type(tail)

pandas.core.frame.DataFrame

In [23]:
tail.values.tolist()

[[2,
  '03/19/2021',
  'Hinda',
  'Harridge',
  'Female',
  '210.51.172.132',
  'Canada',
  '$8.32',
  nan],
 [3,
  '03/17/2021',
  'Erl',
  'Kilminster',
  'Male',
  '213.8.101.145',
  'United States',
  '$3.73',
  20.0]]